body{
	overflow-x: hidden;
}
/*Fonts*/
	@font-face{
		font-family: pacificoFont;
		src: url(pacifico.ttf);
	}
	@font-face{
		font-family: NexaLightFont;
		src: url(nexa_light.otf);
	}
	@font-face{
		font-family: NexaBoldFont;
		src: url(nexa_bold.otf);
	}
/**/

/*Banner*/
	#Banner{
		left: 0;
		top: -.5%;
		width: 100%;
		height: 6.5%;
		position: fixed;
		border-style: solid;
		border-width: 100%;
		border-color: black;
		border-bottom: 1px solid black;
		z-index: 53;
		background-color: black;
	}
	#BannerSections{
		list-style-type: none;
		color: white;
	}
	#BannerSections a{
		text-decoration: none;
		color: #C6C6C6;
	}
	#BannerSections a:visited{
		text-decoration: none;
		color: #C6C6C6;
	}
	#BannerSections a:hover{
		text-decoration: none;
		color: white;
	}

	/*company Name*/
		#CompanyNameTopLeft a:visited{
		text-decoration: none;
			color: white;
		}
		#CompanyNameTopLeft{
			position: fixed;
			font-family: pacificoFont;
			top: 0;
			font-size: 160%;/*180 */
			left: 1%;
			width: 7.7%;
			height: 6.5%;
			border-right: solid 1px #555555;
		}
		#CompanyText{
			position: fixed;
			top: -.6%;
			left: .3%; /*0*/
		}
		@media(min-width: 1024px){
			#CompanyNameTopLeft{
				font-size: 120%;
			}
			#CompanyText{
				left: .3%;
				top: .2%;
			}
			#CompanySlogan{
				font-size: 200%;
			}
		}
		@media(min-width: 1300px){
			#CompanyNameTopLeft{
				font-size: 160%;
			}
			#CompanyText{
				left: .3%;
				top: -1%;
			}

			#CompanySlogan{
				font-size: 100%;
			}
		}
		@media(min-width: 1600px){
			#CompanyNameTopLeft{
				font-size: 180%;
			}
			#CompanyText{
				left: 0.5%;
			}
		}
	/**/
	#AboutLink{
		position: fixed;
		left: 8.7%;
		width: 11.7%;
		height: 6.5%;
		top: -0%;
		text-align: center;
		vertical-align: middle;
		font-family: NexaLightFont;
		border-right: solid 1px #555555;
	}
	#AboutText{
		position: fixed;
		
		top: 2.1%;
		left: 8.7%;
		width: 11.7%;
		height: 6.5%;
	}
	#WhatWeDoLink{
		position: fixed;
		left: 20.4%;
		width: 11.7%;
		height: 6.5%;
		top: -0%;
		text-align: center;
		vertical-align: middle;
		font-family: NexaLightFont;
		border-right: solid 1px #555555;
	}
	#WhatWeDoText{
		position: fixed;
		
		top: 2.1%;
		left: 20.4%;
		width: 11.7%;
		height: 6.5%;
	}
	#ServicesLink{
		position: fixed;
		left: 32.1%;
		width: 11.7%;
		height: 6.5%;
		top: -0%;
		text-align: center;
		vertical-align: middle;
		font-family: NexaLightFont;
		border-right: solid 1px #555555;
	}
	#ServicesText{
		position: fixed;
		top: 2.1%;
		left: 32.1%;
		width: 11.7%;
		height: 6.5%;
	}
	#CaseStudiesLink{
		position: fixed;
		left: 43.8%;
		width: 11.7%;
		height: 6.5%;
		top: -0%;
		text-align: center;
		vertical-align: middle;
		font-family: NexaLightFont;
		border-right: solid 1px #555555;
	}
	#CaseStudiesText{
		position: fixed;
		top: 2.1%;
		left: 43.8%;
		width: 11.7%;
		height: 6.5%;
	}
	#ContactUsLink{
		position: fixed;
		left: 55.5%;
		width: 11.7%;
		height: 6.5%;
		top: -0%;
		text-align: center;
		vertical-align: middle;
		font-family: NexaLightFont;
		border-right: solid 1px #555555;
	}
	#ContactUsText{
		position: fixed;
		top: 2.1%;
		left: 55.5%;
		width: 11.7%;
		height: 6.5%;
	}
/**/

/*Background Image*/
	#Bg{
		position: fixed;
		top: -50%;
		left: -50%;
		width: 0%;
		height: 0%;
		z-index: 0;
	}
	#Bg img{
		position: fixed; 
 		top: -0%;
		left: -0%;
 		right: 0; 
 		bottom: 0; 
 		margin: auto; 
 		min-width: 100%;
 		max-width: 100%;
 		min-height: 110%;
 		max-height: 100%;
 		z-index: 0;
	}
/**/

/*Second Banner*/
	#SecondBanner{
		left: -5%;
		top: 6.5%;
		width: 110%;
		height: 3.5%;
		position: fixed;
		border-style: solid;
		border-width: 100%;
		border-color: black;
		border-bottom: 1px solid black;
		z-index: 53;
		background-color: #DDDDDD;
	}
	#SecondBannerSections{
		list-style-type: none;
		color: black;
	}
	#SecondBannerSections a{
		text-decoration: none;
		color: black;
	}
	#SecondBannerSections a:visited{
		text-decoration: none;
		color: black;
	}
	#SecondBannerSections a:hover{
		text-decoration: none;
		color: white;
	}
	#First{
		font-family: NexaLightFont;
		position: fixed;
		top: 6.7%;
		left: 6.4%;
		font-size: 150%;
		text-align: center;
		vertical-align: middle;
	}
	#FirstText{
		position: fixed;
		top: 6.7%;
		left: 2.9%;
		width: 11.7%;
		height: 6.5%;
	}
	#Second{

		font-family: NexaLightFont;
		position: fixed;
		top: 6.7%;
		left: 14.5%;
		font-size: 150%;
		text-align: center;
		vertical-align: middle;
	}
	#SecondText{
		position: fixed;
		top: 6.7%;
		left: 14.5%;
		width: 11.7%;
		height: 6.5%;
	}
	#Third{
		font-family: NexaLightFont;
		position: fixed;
		top: 6.7%;
		left: 26.2%;
		font-size: 150%;
		text-align: center;
		vertical-align: middle;
	}
	#ThirdText{
		position: fixed;
		top: 6.7%;
		left: 26.2%;
		width: 11.7%;
		height: 6.5%;
	}
/**/

/*Spacing*/
	#BannerSpacer{

		left: 0;
		top: 0;
		width: 100%;
		height: 6%;
		position: absolute;
		border-style: solid;
		border-width: 100%;
		border-color: black;
		border-bottom: 1px solid black;
		z-index: 0;
		background-color: black;
	}
	#Spacer{
		position: absolute;
		top: 263%;
		width: 100%;
		height: 6%;
	}
/**/

/*Yellow box*/
	#YellowBox{
		position: absolute;
		width: 72%;
		height: 78%;
		left: 14%;
		top: 16%;
		background-color:#FFD800;
		filter: alpha(opacity=75); /* internet explorer */
		-khtml-opacity: 0.75;      /* khtml, old safari */
	    -moz-opacity: 0.75;      /* mozilla, netscape */
	    opacity: 0.75;      /* fx, safari, opera */
	    z-index: 51;
	}
	#CreativusIs{
		position: absolute;
		display: inline-block;
		width: 100%;
		top: 14%;
		z-index: 52;
		color: white;
		font-size: 350%;
		font-family: NexaBoldFont;
		font-weight: bold;
	}
	#ParagraphOne{
		position: absolute;
		display: inline-block;
		color: black;
		top: 32%;
		width: 100%;
	
		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}

	#ParagraphTwo{
		position: absolute;
		display: inline-block;
		color: black;
		top: 32%;
		width: 100%;
	
		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}
	
	#DownArrow1{
		position: absolute;
		left: 48%;
		top: 87%;
		z-index: 52;
	}
/**/
/*Blue Box*/
	#BlueBox{
		position: absolute;
		width: 72%;
		height: 78%;
		left: 14%;
		top: 100%;
		background-color:#00FFFF;
		filter: alpha(opacity=65); /* internet explorer */
		-khtml-opacity: 0.65;      /* khtml, old safari */
	    -moz-opacity: 0.65;      /* mozilla, netscape */
	    opacity: 0.65;      /* fx, safari, opera */
	    z-index: 51;
	}
	#WhatWeDo{
		position: absolute;
		display: inline-block;
		width: 100%;
		top: 100%;
		z-index: 52;
		color: white;
		font-size: 350%;
		font-family: NexaBoldFont;
		font-weight: bold;
	}
	#ParagraphOne2{
		position: absolute;
		display: inline-block;
		color: black;
		top: 113%;
		width: 100%;
		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}
	#ParagraphTwo2{

		position: absolute;
		display: inline-block;
		color: black;
		top: 143%;
		left: 40%;
		width: 20%;
		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}
	#DownArrow2{
		position: absolute;
		display: inline-block;
		top: 170.5%;
		left: 48%;
		z-index: 52;
	}
/**/
/*Green Box*/
	#GreenBox{
		position: absolute;
		width: 72%;
		height: 78%;
		left: 14%;
		top: 185%;
		background-color:#7CE82F;
		filter: alpha(opacity=65); /* internet explorer */
		-khtml-opacity: 0.65;      /* khtml, old safari */
	    -moz-opacity: 0.65;      /* mozilla, netscape */
	    opacity: 0.65;      /* fx, safari, opera */
	    z-index: 51;
	}
	#WhoWeDo{
		position: absolute;
		display: inline-block;
		width: 100%;
		top: 185%;
		z-index: 52;
		color: white;
		font-size: 350%;
		font-family: NexaBoldFont;
		font-weight: bold;
	}
	#ParagraphOne3{
		position: absolute;
		display: inline-block;
		color: black;
		top: 198%;
		width: 100%;
		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}
	#ParagraphTwo3{

		position: absolute;
		display: inline-block;
		color: black;
		top: 226%;
		width: 100%;
		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}
	#UpArrow{
		position: absolute;
		display: inline-block;
		top: 257.5%;
		left: 48%;
		z-index: 52;
	}
/**/
/*Sizing MUST BE AT END*/
	@media(min-width: 1024px){
		/*Yellow*/
			#CreativusIs{
				font-size: 270%;
				left: -.1;
			}
			#ParagraphOne{
				font-size: 125%;
				top: 26%;
			}
			#ParagraphTwo{
				font-size: 125%;
				top: 50%;
			}
		/**/
		/*Blue*/
			#WhatWeDo{
				font-size: 270%;
				top: 100%;
			}
			#ParagraphOne2{
				font-size: 125%;
				top: 112%;
			}
			#ParagraphTwo2{
				font-size: 125%;
				top: 136%;
			}
		/**/
		/*Green*/
			#WhoWeDo{
				font-size: 270%;
				top: 185%;
			}
			#ParagraphOne3{
				font-size: 125%;
				top: 197%;
			}
			#ParagraphTwo3{
				font-size: 125%;
				top: 221%;
			}
		/**/

	}
	@media(min-width: 1300px){
		/*Yellow*/
			#ParagraphOne{
				font-size: 150%;
				top: 28%;
			}
			#ParagraphTwo{
				font-size: 150%;
				top: 56%;
			}
			
		/**/
		/*Blue*/
			#WhatWeDo{
				font-size: 300%;
				top: 99%;
			}
			#ParagraphOne2{
				font-size: 150%;
				top: 111%;
			}
			#ParagraphTwo2{
				font-size: 150%;
				top: 139%;
			}
		/**/
		/*Green*/
			#WhoWeDo{
				font-size: 300%;
				top: 184%;
			}
			#ParagraphOne3{
				font-size: 150%;
				top: 196%;
			}
			#ParagraphTwo3{
				font-size: 150%;
				top: 224%;
			}
		/**/
	}
	@media(min-width: 1600px){
		/*Yellow*/
			#ParagraphOne{
				font-size: 200%;
				top: 24%;
			}
			#ParagraphTwo{
				font-size: 200%;
				top: 54%;
			}
		/**/
		/*Blue*/
			#ParagraphOne2{
				font-size: 200%;
				top: 109%;
			}
			#ParagraphTwo2{
				font-size: 200%;
				top: 139%;
			}
		/**/
		/*Green*/
			#ParagraphOne3{
				font-size: 200%;
				top: 194%;
			}
			#ParagraphTwo3{
				font-size: 200%;
				top: 224%;
			}
		/**/
	}
/**/