body{
	overflow-x: hidden;
}
/*Fonts*/
	@font-face{
		font-family: pacificoFont;
		src: url(pacifico.ttf);
	}
	@font-face{
		font-family: NexaLightFont;
		src: url(nexa_light.otf);
	}
	@font-face{
		font-family: NexaBoldFont;
		src: url(nexa_bold.otf);
	}
/**/

/*Banner*/
	#Banner{
		left: 0;
		top: -.5%;
		width: 100%;
		height: 6.5%;
		position: fixed;
		border-style: solid;
		border-width: 100%;
		border-color: black;
		border-bottom: 1px solid black;
		z-index: 53;
		background-color: black;
	}
	#BannerSections{
		list-style-type: none;
		color: white;
	}
	#BannerSections a{
		text-decoration: none;
		color: #C6C6C6;
	}
	#BannerSections a:visited{
		text-decoration: none;
		color: #C6C6C6;
	}
	#BannerSections a:hover{
		text-decoration: none;
		color: white;
	}

	/*company Name*/
		#CompanyNameTopLeft a:visited{
		text-decoration: none;
			color: white;
		}
		#CompanyNameTopLeft{
			position: fixed;
			font-family: pacificoFont;
			top: 0;
			font-size: 160%;/*180 */
			left: 1%;
			width: 7.7vw;
			height: 6.5vh;
			border-right: solid 1px #555555;
		}
		#CompanyText{
			position: fixed;
			top: -.6%;
			left: .3%; /*0*/
		}
	/**/
	#AboutLink{
		position: fixed;
		left: 8.7%;
		width: 11.7vw;
		height: 6.5vh;
		top: -0%;
		text-align: center;
		vertical-align: middle;
		font-family: NexaLightFont;
		border-right: solid 1px #555555;
	}
	#AboutText{
		position: fixed;
		top: 2.1%;
		left: 8.7%;
		width: 11.7vw;
		height: 6.5vh;
	}

/*Background Image*/
	#Bg{
		position: fixed;
		top: -50%;
		left: -50%;
		width: 0%;
		height: 0%;
		z-index: 0;
	}
	#Bg img{
		position: fixed;
 		top: -0%;
		left: -0%;
 		right: 0;
 		bottom: 0;
 		margin: auto;
 		min-width: 100%;
 		max-width: 100%;
 		min-height: 110%;
 		max-height: 100%;
 		z-index: 0;
	}
/**/

/*Second Banner*/
	#SecondBanner{
		left: -5%;
		top: 6.5%;
		width: 110%;
		height: 3.5vh;
		position: fixed;
		border-style: solid;
		border-width: 100%;
		border-color: black;
		border-bottom: 1px solid black;
		z-index: 53;
		background-color: #DDDDDD;
	}
	#SecondBannerSections{
		list-style-type: none;
		color: black;
	}
	#SecondBannerSections a{
		text-decoration: none;
		color: black;
	}
	#SecondBannerSections a:visited{
		text-decoration: none;
		color: black;
	}
	#SecondBannerSections a:hover{
		text-decoration: none;
		color: white;
	}
	#First{
		font-family: NexaLightFont;
		position: fixed;
		top: 6.7%;
		left: 6.4%;
		font-size: 150%;
		text-align: center;
		vertical-align: middle;
	}
	#FirstText{
		position: fixed;
		top: 7.2%;
		left: 2.9%;
		width: 11.7vw;
		height: 6.5vh;
	}
	#Second{

		font-family: NexaLightFont;
		position: fixed;
		top: 6.7%;
		left: 14.5%;
		font-size: 150%;
		text-align: center;
		vertical-align: middle;
	}
	#SecondText{
		position: fixed;
		top: 7.2%;
		left: 14.5%;
		width: 11.7%;
		height: 6.5%;
	}

/*Spacing*/
	#BannerSpacer{

		left: 0;
		top: 0;
		width: 100%;
		height: 6%;
		position: absolute;
		border-style: solid;
		border-width: 100%;
		border-color: black;
		border-bottom: 1px solid black;
		z-index: 0;
		background-color: black;
	}
	#Spacer{
		position: absolute;
		top: 263%;
		width: 100%;
		height: 6%;
	}
/**/

/*Yellow box*/
	#YellowBox{
		position: absolute;
		width: 72%;
		height: 78%;
		left: 14%;
		top: 16%;
		background-color:#FFD800;
		filter: alpha(opacity=75); /* internet explorer */
		-khtml-opacity: 0.75;      /* khtml, old safari */
	    -moz-opacity: 0.75;      /* mozilla, netscape */
	    opacity: 0.75;      /* fx, safari, opera */
	    z-index: 51;
	}
	#CreativusIs{
		position: absolute;
		display: inline-block;
		width: 100vw;
		top: 14%;
		z-index: 52;
		color: white;
		font-size: 350%;
		font-family: NexaBoldFont;
		font-weight: bold;
	}
	#ParagraphOne{
		position: absolute;
		display: inline-block;
		color: black;
		top: 32%;
		width: 100vw;

		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}

	#ParagraphTwo{
		position: absolute;
		display: inline-block;
		color: black;
		top: 32%;
		width: 100vw;

		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}

	#DownArrow1{
		position: absolute;
		left: 48%;
		top: 87%;
		z-index: 52;
	}
/**/
/*Blue Box*/
	#BlueBox{
		position: absolute;
		width: 72vw;
		height: 78vh;
		left: 14%;
		top: 100%;
		background-color:#00FFFF;
		filter: alpha(opacity=65); /* internet explorer */
		-khtml-opacity: 0.65;      /* khtml, old safari */
	    -moz-opacity: 0.65;      /* mozilla, netscape */
	    opacity: 0.65;      /* fx, safari, opera */
	    z-index: 51;
	}
	#WhatWeDo{
		position: absolute;
		display: inline-block;
		width: 100%;
		top: 100%;
		z-index: 52;
		color: white;
		font-size: 350%;
		font-family: NexaBoldFont;
		font-weight: bold;
	}
	#ParagraphOne2{
		position: absolute;
		display: inline-block;
		color: black;
		top: 113%;
		width: 100vw;
		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}
	#ParagraphTwo2{

		position: absolute;
		display: inline-block;
		color: black;
		top: 143%;
		left: 40%;
		width: 20vw;
		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}
	#DownArrow2{
		position: absolute;
		display: inline-block;
		top: 173.5%;
		left: 48%;
		z-index: 52;
	}
/**/
