body{
overflow-x:hidden;
}

/*Fonts*/
	@font-face{
		font-family: pacificoFont;
		src: url(pacifico.ttf);
	}
	@font-face{
		font-family: NexaLightFont;
		src: url(nexa_light.otf);
	}
/**/

/*Banner*/
	#Banner{
		left: 0;
		top: -.5%;
		width: 100vw;
		height: 6.5vh;
		position: fixed;
		border-style: solid;
		border-width: 100%;
		border-color: black;
		border-bottom: 1px solid black;
		z-index: 50;
		background-color: black;
	}
	#BannerSections{
		list-style-type: none;
		color: white;
	}
	#BannerSections a{
		text-decoration: none;
		color: #C6C6C6;
	}
	#BannerSections a:visited{
		text-decoration: none;
		color: #C6C6C6;
	}
	#BannerSections a:hover{
		text-decoration: none;
		color: white;
	}

	/*company Name*/
		#CompanyNameTopLeft a:visited{
		text-decoration: none;
			color: white;
		}
		#CompanyNameTopLeft{
			position: fixed;
			font-family: pacificoFont;
			top: 0;
			font-size: 160%;/*180 */
			left: 1%;
			width: 7.7vw;
			height: 6.5vh;
			border-right: solid 1px #555555;
		}
		#CompanyText{
			position: fixed;
			top: -.6%;
			left: .3%; /*0*/
		}
		#CompanyText{
				left: .3%;
				top: -1%;
		}

		#CompanySlogan{
				font-size: 100%;
			}
			#CompanyText{
				left: 0.5%;
			}
	/**/
	#AboutLink{
		position: fixed;
		left: 8.7%;
		width: 11.7vw;
		height: 6.5vh;
		top: -0%;
		text-align: center;
		vertical-align: middle;
		font-family: NexaLightFont;
		border-right: solid 1px #555555;
	}
	#AboutText{
		position: fixed;

		top: 2.1%;
		left: 8.7%;
		width: 11.7vw;
		height: 6.5vh;
	}

/*Background Image*/
	#Bg{
		position: fixed;
		top: -50%;
		left: -50%;
		width: 0%;
		height: 0%;
		z-index: 0;
	}
	#Bg img{
		position: fixed;
 		top: -0%;
		left: -0%;
 		right: 0;
 		bottom: 0;
 		margin: auto;
 		min-width: 100%;
 		max-width: 100%;
 		min-height: 110%;
 		max-height: 100%;
 		z-index: 0;
	}
/**/

/*Spacing*/
	#BannerSpacer{

		left: 0;
		top: 0;
		width: 100vw;
		height: 6vh;
		position: absolute;
		border-style: solid;
		border-width: 100%;
		border-color: black;
		border-bottom: 1px solid black;
		z-index: 0;
		background-color: black;
	}
/**/

/*Black Box*/
	#BlackBox{
		position: fixed;
		width: 50vw;
		height: 61.5vh;
		left: 25%;
		top: 21%;
		border: 2px solid #FFFFFF;
		border-radius: 15px;
		background-color:black;
		filter: alpha(opacity=85); /* internet explorer */
		-khtml-opacity: 0.85;      /* khtml, old safari */
	    -moz-opacity: 0.85;      /* mozilla, netscape */
	    opacity: 0.85;      /* fx, safari, opera */
	    z-index: 51;
	}
	#BigCompanyName{
		position: fixed;
		display: inline-block;
		top: 14%;
		width: 100%;
		z-index: 52;
		color: #DDDDDD;

		font-size: 500%;
		font-family: pacificoFont;
	}
	#CompanySlogan{
		position: fixed;
		display: inline-block;
		color: white;
		top: 35%;
		width: 100%;

		z-index: 52;
		font-family: NexaLightFont;
		font-size: 200%;
	}
